@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /*background: transparent;*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 200%;
    font-weight: normal;
}

:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

a:hover img {
    border: none;
}

/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

h2 {
    margin: 10px;
}

.jc-progress {
    margin-bottom: 5px;
}

.jc-popup {
    margin-left: 100px;
}

.jc-popup ul {
    
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.jc-popup ul li {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 7px;
    cursor: pointer;
}

.jc-popup ul li a {
    display: block;
    width: 28px;
    height: 28px;
    margin-left: 11px;
    margin-top: 12px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.jc-popup ul li:nth-child(1) a {
    background: url(../image/sharePic.png) 0 0 no-repeat;
}

.jc-popup ul li:nth-child(2) a {
    background: url(../image/sharePic.png) -28px 0 no-repeat;
}

.jc-popup ul li:nth-child(3) a {
    background: url(../image/sharePic.png) -56px 0 no-repeat;
}

.jc-popup ul li:nth-child(4) a {
    background: url(../image/weixin.png) -2px -2px no-repeat;
}

.jc-popup ul li:nth-child(5) a {
    background: url(../image/sharePic.png) -112px 0px no-repeat;
}

.jc-popup ul li:nth-child(6) a {
    background: url(../image/gitPic.png) 0px 0px no-repeat;
}


.jc-popup span {
    display: block;
    width: 40px;
    height: 10px;
    background: url(../image/share_shade.png) 0 0 no-repeat;
    position: absolute;
    left: 5px;
    bottom: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* 划过动画 */
.jc-popup ul li:hover a {
    margin-top: 2px;
}

.jc-popup ul li:hover span {
    opacity: 0.2;
}