.jc-paging {
    text-align:center;
}
.jc-paging a {
    display: inline-block;
    padding:5px 7px;
    border: 1px solid #ccc;
    color: #ccc;
    background-color: #409eff;
    cursor: pointer;
}
.jc-paging a.jc-paging--disabled {
    cursor: not-allowed;
}
.jc-paging a.jc-paging--active {
    color: #409eff;
    background: #bbddff;
    border: none;
    cursor: auto;
}
