.jc-returntop {
    cursor: pointer;
    display: inline-block;
}
.jc-returntop.no-child {
    padding: 5px;
    width: 25px;
    height:25px;
    background-color: rgb(31, 134, 194);
    border-radius: 5px;
    color: seashell;
}
.jc-returntop.no-child::before{
    content: '^';
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
}
.jc-returntop.no-child:hover{
    color:rgb(31, 134, 194);
    background-color: silver;
}